tests/resources/schematron/METS-one-default-ns.xml

<schema xmlns="http://purl.oclc.org/dsdl/schematron" >
  <ns prefix="mets" uri="http://www.loc.gov/METS/" />
  <ns prefix="csip" uri="https://DILCIS.eu/XML/METS/CSIPExtensionMETS"/>
  <pattern id="METS_root_element_validation">
      <title>Validate METS root element.</title>
      <rule context="/">
          <assert id="CSIP0" test="mets:mets">The root level element is required in all METS documents</assert>
      </rule>
      <rule context="/mets:mets">
        <assert id="CSIP1" test="@OBJID">The mets/@OBJID attribute is mandatory, its value is a string identifier for the METS document. For the package METS document, this should be the name/ID of the package, i.e. the name of the package root folder. For a representation level METS document this value records the name/ID of the representation, i.e. the name of the top-level representation folder.</assert>
        <assert id="CSIP2" test="@TYPE">The mets/@TYPE attibute MUST be used to declare the category of the content held in the package, e.g. book, journal, stereograph, video, etc.. Legal values are defined in a fixed vocabulary.</assert>
        <assert id="CSIP3" test="(@TYPE = 'OTHER' and @csip:OTHERTYPE) or @TYPE != 'OTHER'">When the content category used falls outside of the defined vocabulary the mets/@TYPE value must be set to “OTHER” and the specific value declared in mets/@csip:OTHERTYPE. The vocabulary will develop under the curation of the DILCIS Board as additional content information type specifications are produced.</assert>
        <assert id="CSIP4" test="@csip:CONTENTINFORMATIONTYPE">Used to declare the Content Information Type Specification used when creating the package. Legal values are defined in a fixed vocabulary. The attribute is mandatory for representation level METS documents.</assert>
        <assert id="CSIP5" test="(@csip:CONTENTINFORMATIONTYPE = 'OTHER' and @csip:OTHERCONTENTINFORMATIONTYPE) or @csip:CONTENTINFORMATIONTYPE != 'OTHER'">When the mets/@csip:CONTENTINFORMATIONTYPE has the value “OTHER” the mets/@csip:OTHERCONTENTINFORMATIONTYPE must state the content information type.</assert>
        <assert id="CSIP6" test="@PROFILE">The PROFILE attribute MUST contain the URL of the METS profile that the information package conforms with.</assert>
      </rule>
  </pattern>
</schema>
