ip_validation/resources/schematron/mets_amd_rules.xml

<schema xmlns="http://purl.oclc.org/dsdl/schematron">
    <ns prefix="csip" uri="https://dilcis.eu/XML/METS/CSIPExtensionMETS"/>
    <ns prefix="ead" uri="urn:isbn:1-931666-22-9"/>
    <ns prefix="xlink" uri="http://www.w3.org/1999/xlink"/>

    <pattern id="METS_administrative_metadata_premis_element_validation">
        <title>Validate METS administrative element amdSec.</title>
        <rule id="CSIP31" context="amdSec">
            <assert test="name()='amdSec'">If administrative / preservation metadata is available, it must be described using the administrative metadata section (amdSec) element. It is possible to transfer metadata in a package using just the descriptive metadata sectiond/or adminstrative metadata section.</assert>
        </rule>
    </pattern>
    <!-- <pattern id="METS_administrative_metadata_premis_element_digiprovmd_validation">
        <rule id="CSIP32" context="amdSec">
            <assert test="name()='amdSec:digiprovMD'">For recording information about preservation events the standard PREMIS is used. The PREMIS metadata must be either embedded or linked in a digital provenance metadata (digiprovMD) element. It is mandatory to include one digiprovMD element for each external PREMIS file placed in the “metadata/preservation” section, or for each embedded set of PREMIS metadata.</assert>
        </rule>
    </pattern> -->
    <!-- <pattern id="METS_administrative_metadata_premis_element_digiprovmd_id_validation">
        <title>Validate METS administrative element digital provenance metadata identfier.</title>
        <rule id="CSIP33" context="amdSec:digiprovMD">
            <assert test="@ID">An identifier for the digital provenance metadata section (digiprovMD) used for referencing inside the package. It must be unique within the package. The ID must follow the rules for xml:id described in the chapter of the textual description of CSIP named "General requirements for the use of metadata"</assert>
        </rule>
    </pattern>
    <pattern id="METS_administrative_metadata_premis_element_digiprovmd_status_validation">
        <title>Validate METS administrative element digital provenance metadata status.</title>
        <rule id="CSIP34" context="amdSec:digiprovMD">
            <assert test="(contains(string(@STATUS), 'SUPERSEDED') or contains(string(@STATUS), 'CURRENT') and count(@STATUS)>0">Status of the metadata. Used to indicate the currency of the package. If used the two values "SUPERSEDED" or "CURRENT" from the vocabulary is used.</assert>
        </rule>
    </pattern> -->
    <pattern id="METS_administrative_metadata_premis_element_mdref_validation">
        <title>Validate METS administrative element reference to the document with the digital provenance metdata amdSec/digiprovMD/mdRef</title>
        <rule id="CSIP35" context="amdSec">
            <assert test="name()='amdSec:mdRef' and count(amdSec:mdRef)>0">Reference to the digital provenance metadata file stored in the "metadata" section of the IP.</assert>
        </rule>
    </pattern>
    <pattern id="METS_administrative_metadata_premis_element_mdref_loctype_validation">
        <title>Validate METS administrative element type of locator</title>
        <rule id="CSIP36" context="mdRef">
            <assert test="@LOCTYPE">The locator type is always used with the value "URL" from the vocabulary in the attribute.</assert>
        </rule>
    </pattern>
    <pattern id="METS_administrative_metadata_premis_element_mdref_xlink_type_validation">
        <title>Validate METS administrative element type of link</title>
        <rule id="CSIP37" context="mdRef">
            <assert test="@type">Attribute used with the value “simple”. Value list is maintained by the xlink standard</assert>
        </rule>
    </pattern>
    <pattern id="METS_administrative_metadata_premis_element_mdref_xlink_href_validation">
        <title>Validate METS administrative element resource location</title>
        <rule id="CSIP38" context="mdRef">
            <assert test="@href">The actual location of the resource. This specification recommends recording a URL type filepath within this attribute.</assert>
        </rule>
    </pattern>
    <pattern id="METS_administrative_metadata_premis_element_mdref_xlink_href_validation_a">
        <title>Validate METS administrative element metadata type</title>
        <rule id="CSIP39" context="mdRef">
            <assert test="@MDTYPE">Specifies the type of metadata in the linked file. Values are taken from the list provided by the standard.</assert>
        </rule>
    </pattern>
    <pattern id="METS_administrative_metadata_premis_element_mdref_mimetype_validation">
        <title>Validate METS administrative element MIME type</title>
        <rule id="CSIP40" context="mdRef">
            <assert test="@MIMETYPE">The IANA mime type for the linked file.</assert>
        </rule>
    </pattern>
    <pattern id="METS_administrative_metadata_premis_element_mdref_file_size_validation">
        <title>Validate METS administrative element file size</title>
        <rule id="CSIP41" context="mdRef">
            <assert test="@SIZE">Size of the linked file in bytes.</assert>
        </rule>
    </pattern>
    <pattern id="METS_administrative_metadata_premis_element_mdref_created_validation">
        <title>Validate METS administrative element file creation date</title>
        <rule id="CSIP42" context="mdRef">
            <assert test="@CREATED">Date the linked file was created.</assert>
        </rule>
    </pattern>
    <pattern id="METS_administrative_metadata_premis_element_mdref_checksum_validation">
        <title>Validate METS administrative element checksum</title>
        <rule id="CSIP43" context="mdRef">
            <assert test="@CHECKSUM">The checksum of the linked file.</assert>
        </rule>
    </pattern>
    <pattern id="METS_administrative_metadata_premis_element_mdref_checksum_type_validation">
        <title>Validate METS administrative element checksum type</title>
        <rule id="CSIP44" context="mdRef">
            <assert test="@CHECKSUMTYPE">The type of checksum following the value list in the standard which used for the linked file.</assert>
        </rule>
    </pattern>
    <pattern id="METS_administrative_metadata_premis_element_rightsmd_validation">
        <title>Validate METS administrative element rightsmd</title>
        <rule id="CSIP45" context="amdSec">
            <assert test="@rightsMD">For describing an overall access status for the package a simple rights statement may be used, as well as own local rights statements in use.</assert>
        </rule>
    </pattern>
</schema>
