ip_validation/xml/resources/schematron/SIP/mets_metsHdr_rules.xml

<schema xmlns="http://purl.oclc.org/dsdl/schematron">
  <ns prefix="mets" uri="http://www.loc.gov/METS/" />
  <ns prefix="csip" uri="https://DILCIS.eu/XML/METS/CSIPExtensionMETS"/>
  <pattern id="METS_header_element">
    <title>Use of the METS header</title>
    <rule context="/mets:mets/mets:metsHdr">
      <report id="SIP3" role="INFO" test="@RECORDSTATUS">Optional @metsHdr:RECORDSTATUS attribute used to indicate package status.</report>
      <assert id="SIP4" role="ERROR" test="@csip:OAISPACKAGETYPE">The metsHdr element MUST have a csip:OAISPACKAGETYPE attribute.</assert>
    </rule>
    <rule context="/mets:mets/mets:metsHdr/mets:altRecordID">
      <report id="SIP5" role="INFO" test="@TYPE = 'SUBMISSIONAGREEMENT'">Optional altRecordID element identifying submission agreement.</report>
      <report id="SIP6" role="INFO" test="@TYPE = 'PREVIOUSSUBMISSIONAGREEMENT'">Optional altRecordID element identifying previous submission agreement.</report>
      <report id="SIP7" role="INFO" test="@TYPE = 'REFERENCECODE'">Optional altRecordID element identifying reference code.</report>
      <report id="SIP8" role="INFO" test="@TYPE = 'PREVIOUSREFERENCECODE'">Optional altRecordID element identifying previous reference code.</report>
    </rule>
    <rule context="/mets:mets/mets:metsHdr">
      <report id="SIP9" role="INFO" test="mets:agent">Optional METS agent element found.</report>
    </rule>
    <rule context="/mets:mets/mets:metsHdr/mets:agent">
      <assert id="SIP10" role="ERROR" test="@ROLE">The agent element MUST have a role attribute.</assert>
    </rule>
    <rule context="/mets:mets/mets:metsHdr/mets:agent[@ROLE = 'CREATOR']">
      <assert id="SIP11" role="ERROR" test="@TYPE = 'ORGANIZATION' or @TYPE = 'INDIVIDUAL'">The agent element MUST have a role attribute.</assert>
      <report id="SIP12" role="INFO" test="mets:name">Optional METS name element used.</report>
      <report id="SIP13" role="INFO" test="mets:note">Optional METS note element used.</report>
    </rule>
    <rule context="/mets:mets/mets:metsHdr/mets:agent[@ROLE = 'CREATOR']/mets:note">
      <assert id="SIP14" role="ERROR" test="@NOTETYPE = 'IDENTIFICATIONCODE'">The creator agent element MUST have a NOTETYPE attribute of value IDENTIFICATIONCODE.</assert>
    </rule>
  </pattern>
</schema>
