ip_validation/resources/validation_rules.xml

<schema xmlns="http://purl.oclc.org/dsdl/schematron">
    <ns prefix="csip" uri="DILCIS"/>
    <ns prefix="ead" uri="urn:isbn:1-931666-22-9"/>
    <ns prefix="mets" uri="http://www.loc.gov/METS/"/>
    <ns prefix="xlink" uri="http://www.w3.org/1999/xlink"/>

    <pattern id="CSIP1">
        <rule context="mets:mets">
            <assert test="@OBJID"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP2">
        <rule context="mets:mets">
            <assert test="@TYPE"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP6">
        <rule context="mets:mets">
            <assert test="contains(string(@PROFILE), 'http')"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP117">
        <rule context="mets:mets">
            <assert test="mets:metsHdr"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP7">
        <rule context="mets:mets/mets:metsHdr">
            <assert test="@CREATEDATE"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP9">
        <rule context="mets:mets/mets:metsHdr">
            <assert test="@csip:OAISPACKAGETYPE"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP10">
        <rule context="mets:mets/mets:metsHdr">
            <assert test="mets:agent"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP11">
        <rule context="mets:mets/mets:metsHdr/mets:agent">
            <assert test="@ROLE = 'CREATOR'"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP12">
        <rule context="mets:mets/mets:metsHdr/mets:agent">
            <assert test="@TYPE = 'OTHER'"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP13">
        <rule context="mets:mets/mets:metsHdr/mets:agent">
            <assert test="@OTHERTYPE = 'SOFTWARE'"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP14">
        <rule context="mets:mets/mets:metsHdr/mets:agent">
            <assert test="mets:name"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP15">
        <rule context="mets:mets/mets:metsHdr/mets:agent">
            <assert test="mets:note"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP16">
        <rule context="mets:mets/mets:metsHdr/mets:agent/mets:note">
            <assert test="@csip:NOTETYPE = 'SOFTWARE VERSION'"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP17">
        <rule context="mets:mets">
            <assert test="mets:dmdSec"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP18">
        <rule context="mets:mets/mets:dmdSec">
            <assert test="@ID"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP19">
        <rule context="mets:mets/mets:dmdSec">
            <assert test="@CREATED"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP21">
        <rule context="mets:mets/mets:dmdSec">
            <assert test="mets:mdRef"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP22">
        <rule context="mets:mets/mets:dmdSec/mets:mdRef">
            <assert test="@LOCTYPE = 'URL'"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP23">
        <rule context="mets:mets/mets:dmdSec/mets:mdRef">
            <assert test="@xlink:type='simple'"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP24">
        <rule context="mets:mets/mets:dmdSec/mets:mdRef">
            <assert test="@xlink:href"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP25">
        <rule context="mets:mets/mets:dmdSec/mets:mdRef">
            <assert test="@MDTYPE"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP26">
        <rule context="mets:mets/mets:dmdSec/mets:mdRef">
            <assert test="@MIMETYPE"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP27">
        <rule context="mets:mets/mets:dmdSec/mets:mdRef">
            <assert test="@SIZE"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP28">
        <rule context="mets:mets/mets:dmdSec/mets:mdRef">
            <assert test="@CREATED"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP29">
        <rule context="mets:mets/mets:dmdSec/mets:mdRef">
            <assert test="@CHECKSUM"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP30">
        <rule context="mets:mets/mets:dmdSec/mets:mdRef">
            <assert test="@CHECKSUMTYPE"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP31">
        <rule context="mets:mets">
            <assert test="mets:amdSec"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP32">
        <rule context="mets:mets/mets:amdSec">
            <assert test="mets:digiprovMD"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP33">
        <rule context="mets:mets/mets:amdSec/mets:digiprovMD">
            <assert test="@ID"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP35">
        <rule context="mets:mets/mets:amdSec/mets:digiprovMD">
            <assert test="mets:mdRef"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP36">
        <rule context="mets:mets/mets:amdSec/mets:dmdSec/mets:mdRef">
            <assert test="@LOCTYPE='URL'"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP37">
        <rule context="mets:mets/mets:amdSec/mets:dmdSec/mets:mdRef">
            <assert test="@xlink:type='simple'"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP38">
        <rule context="mets:mets/mets:amdSec/mets:dmdSec/mets:mdRef">
            <assert test="@xlink:href"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP39">
        <rule context="mets:mets/mets:amdSec/mets:dmdSec/mets:mdRef">
            <assert test="@MDTYPE"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP40">
        <rule context="mets:mets/mets:amdSec/mets:dmdSec/mets:mdRef">
            <assert test="@MIMETYPE"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP41">
        <rule context="mets:mets/mets:amdSec/mets:dmdSec/mets:mdRef">
            <assert test="@SIZE"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP42">
        <rule context="mets:mets/mets:dmdSec/mets:mdRef">
            <assert test="@CREATED"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP43">
        <rule context="mets:mets/mets:amdSec/mets:dmdSec/mets:mdRef">
            <assert test="@CHECKSUM"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP44">
        <rule context="mets:mets/mets:amdSec/mets:dmdSec/mets:mdRef">
            <assert test="@CHECKSUMTYPE"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP45">
        <rule context="mets:mets/mets:amdSec">
            <assert test="mets:rightsMD"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP46">
        <rule context="mets:mets/mets:amdSec/rightsMD">
            <assert test="@ID"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP48">
        <rule context="mets:mets/mets:amdSec/rightsMD">
            <assert test="mets:mdRef"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP49">
        <rule context="mets:mets/mets:amdSec/mets:rightsMD/mets:mdRef">
            <assert test="@LOCTYPE='URL'"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP50">
        <rule context="mets:mets/mets:amdSec/mets:rightsMD/mets:mdRef">
            <assert test="@xlink:type='simple'"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP51">
        <rule context="mets:mets/mets:amdSec/mets:rightsMD/mets:mdRef">
            <assert test="@xlink:href"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP52">
        <rule context="mets:mets/mets:amdSec/mets:rightsMD/mets:mdRef">
            <assert test="MDTYPE"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP53">
        <rule context="mets:mets/mets:amdSec/mets:rightsMD/mets:mdRef">
            <assert test="MIMETYPE"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP54">
        <rule context="mets:mets/mets:amdSec/mets:rightsMD/mets:mdRef">
            <assert test="SIZE"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP55">
        <rule context="mets:mets/mets:amdSec/mets:rightsMD/mets:mdRef">
            <assert test="CREATED"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP56">
        <rule context="mets:mets/mets:amdSec/mets:rightsMD/mets:mdRef">
            <assert test="CHECKSUM"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP57">
        <rule context="mets:mets/mets:amdSec/mets:rightsMD/mets:mdRef">
            <assert test="@CHECKSUMTYPE"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP58">
        <rule context="mets:mets">
            <assert test="mets:fileSec"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP59">
        <rule context="mets:mets/mets:fileSec">
            <assert test="@ID"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP60">
        <rule context="mets:mets/mets:fileSec">
            <assert test="count(mets:fileGrp[@USE='documentation']) > 0"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP113">
        <rule context="mets:mets/mets:fileSec">
            <assert test="count(mets:fileGrp[@USE='schemas']) > 0"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP114">
        <rule context="mets:mets/mets:fileSec">
            <assert test="count(mets:fileGrp[@USE='representations']) > 0"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP64">
        <rule context="mets:mets/mets:fileSec/mets:fileGrp">
            <assert test="@USE"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP65">
        <rule context="mets:mets/mets:fileSec/mets:fileGrp">
            <assert test="@ID"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP66">
        <rule context="mets:mets/mets:fileSec/mets:fileGrp">
            <assert test="mets:file"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP67">
        <rule context="mets:mets/mets:fileSec/mets:fileGrp/mets:file">
            <assert test="@ID"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP68">
        <rule context="mets:mets/mets:fileSec/mets:fileGrp/mets:file">
            <assert test="@MIMETYPE"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP69">
        <rule context="mets:mets/mets:fileSec/mets:fileGrp/mets:file">
            <assert test="@SIZE"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP70">
        <rule context="mets:mets/mets:fileSec/mets:fileGrp/mets:file">
            <assert test="@CREATED"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP71">
        <rule context="mets:mets/mets:fileSec/mets:fileGrp/mets:file">
            <assert test="@CHECKSUM"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP72">
        <rule context="mets:mets/mets:fileSec/mets:fileGrp/mets:file">
            <assert test="@CHECKSUMTYPE"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP76">
        <rule context="mets:mets/mets:fileSec/mets:fileGrp/mets:file">
            <assert test="mets:FLocat"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP77">
        <rule context="mets:mets/mets:fileSec/mets:fileGrp/mets:file/mets:FLocat">
            <assert test="@LOCTYPE='URL'"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP78">
        <rule context="mets:mets/mets:fileSec/mets:fileGrp/mets:file/mets:FLocat">
            <assert test="@xlink:type='simple'"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP79">
        <rule context="mets:mets/mets:fileSec/mets:fileGrp/mets:file/mets:FLocat">
            <assert test="@xlink:href"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP80">
        <rule context="mets:mets">
            <assert test="mets:structMap"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP81">
        <rule context="mets:mets">
            <assert test="count(mets:structMap[@TYPE='PHYSICAL']) = 1"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP82">
        <rule context="mets:mets">
            <assert test="count(mets:structMap[@LABEL='CSIP']) = 1"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP83">
        <rule context="mets:mets/mets:structMap[@LABEL='CSIP']">
            <assert test="@ID"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP84">
        <rule context="mets:mets/mets:structMap[@LABEL='CSIP']">
            <assert test="count(mets:div) = 1"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP85">
        <rule context="mets:mets/mets:structMap[@LABEL='CSIP']/mets:div">
            <assert test="@ID"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP86">
        <rule context="mets:mets/mets:structMap[@LABEL='CSIP']/mets:div">
            <assert test="@LABEL"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP88">
        <rule context="mets:mets/mets:structMap[@LABEL='CSIP']/mets:div">
            <assert test="count(mets:div[@LABEL='metadata']) > 0"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP89">
        <rule context="mets:mets/mets:structMap[@LABEL='CSIP']/mets:div/mets:div[@LABEL='metadata']">
            <assert test="@ID"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP94">
        <rule context="mets:mets/mets:structMap[@LABEL='CSIP']/mets:div/mets:div[@LABEL='documentation']">
            <assert test="@ID"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP96">
        <rule context="mets:mets/mets:structMap[@LABEL='CSIP']/mets:div/mets:div[@LABEL='documentation']">
            <assert test="mets:fptr"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP116">
        <rule context="mets:mets/mets:structMap[@LABEL='CSIP']/mets:div/mets:div[@LABEL='documentation']/mets:fptr">
            <assert test="@FILEID"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP98">
        <rule context="mets:mets/mets:structMap[@LABEL='CSIP']/mets:div/mets:div[@LABEL='schemas']">
            <assert test="@ID"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP100">
        <rule context="mets:mets/mets:structMap[@LABEL='CSIP']/mets:div/mets:div[@LABEL='schemas']">
            <assert test="mets:fptr"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP118">
        <rule context="mets:mets/mets:structMap[@LABEL='CSIP']/mets:div/mets:div[@LABEL='schemas']/mets:fptr">
            <assert test="@FILEID"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP102">
        <rule context="mets:mets/mets:structMap[@LABEL='CSIP']/mets:div/mets:div[contains(@LABEL, 'representations')]">
            <assert test="@ID"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP104">
        <rule context="mets:mets/mets:structMap[@LABEL='CSIP']/mets:div/mets:div[contains(@LABEL, 'representations')]">
            <assert test="mets:fptr"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP119">
        <rule context="mets:mets/mets:structMap[@LABEL='CSIP']/mets:div/mets:div[contains(@LABEL, 'representations')]/mets:fptr">
            <assert test="@FILEID"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP106">
        <rule context="mets:mets/mets:structMap[@LABEL='CSIP']/mets:div/mets:div">
            <assert test="@ID"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP107">
        <rule context="mets:mets/mets:structMap[@LABEL='CSIP']/mets:div/mets:div">
            <assert test="@LABEL"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP108">
        <rule context="mets:mets/mets:structMap[@LABEL='CSIP']/mets:div/mets:div/mets:mptr">
            <assert test="@xlink:title"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP109">
        <rule context="mets:mets/mets:structMap[@LABEL='CSIP']/mets:div/mets:div[contains(@LABEL, 'representations')]">
            <assert test="mets:mptr"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP110">
        <rule context="mets:mets/mets:structMap[@LABEL='CSIP']/mets:div/mets:div/mets:mptr">
            <assert test="@xlink:href"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP111">
        <rule context="mets:mets/mets:structMap[@LABEL='CSIP']/mets:div/mets:div/mets:mptr">
            <assert test="@xlink:type='simple'"></assert>
        </rule>
    </pattern>

    <pattern id="CSIP112">
        <rule context="mets:mets/mets:structMap[@LABEL='CSIP']/mets:div/mets:div/mets:mptr">
            <assert test="@LOCTYPE='URL'"></assert>
        </rule>
    </pattern>


</schema>
