eark_validator/ipxml/resources/schematron/V2.1.0/CSIP/mets_fileSec_rules.xml

<schema xmlns="http://purl.oclc.org/dsdl/schematron">
  <ns prefix="mets" uri="http://www.loc.gov/METS/" />
  <ns prefix="csip" uri="https://DILCIS.eu/XML/METS/CSIPExtensionMETS"/>
  <ns prefix="xlink" uri="http://www.w3.org/1999/xlink" />
  <pattern id="METS_file_element">
    <title>Use of the METS file section.</title>
    <rule context="/mets:mets/mets:fileSec">
      <assert id="CSIP59" role="ERROR" test="@ID">An xml:id identifier for the file section used for internal package references.</assert>
      <assert id="CSIP60" role="ERROR" test="mets:fileGrp[@USE = 'Documentation']">All documentation pertaining to the transferred content is placed in one or more file group elements with mets/fileSec/fileGrp/@USE attribute value “Documentation”.</assert>
      <assert id="CSIP113" role="ERROR" test="mets:fileGrp[@USE = 'Schemas']">All XML schemas used in the information package must be referenced from one or more file groups with `mets/fileSec/fileGrp/@USE` attribute value "Schemas".</assert>
      <assert id="CSIP114" role="ERROR" test="mets:fileGrp[starts-with(@USE, 'Representations')]">A pointer to the METS document describing the representation or pointers to the content being transferred must be present in one or more file groups with `mets/fileSec/fileGrp/@USE` attribute value starting with "Representations" followed by the path to the folder where the representation level METS document is placed. For example "Representation/submission" and "Representation/ingest".</assert>
    </rule>
    <rule context="/mets:mets/mets:fileSec/mets:fileGrp">
      <report id="CSIP61" role="INFO" test="@ADMID">ADMID attribute used.</report>
      <assert id="CSIP62" role="ERROR" test="(/mets:mets[@csip:CONTENTINFORMATIONTYPE='MIXED'] or ((starts-with(@USE, 'Representations') and @csip:CONTENTINFORMATIONTYPE) or not(starts-with(@USE, 'Representations'))))">When the element "Content Information Type Specification" (CSIP4) has the value "MIXED" or the file group describes a representation, then this element states the content information type specification used for the file group. When the element "Representations file group" (CSIP114), the file group describes a representation with the `mets/fileSec/fileGrp/@USE` attribute value is starting with "Representations", then this element must state the content information type specification used for the representation.</assert>
      <assert id="CSIP63" role="ERROR" test="(@csip:CONTENTINFORMATIONTYPE = 'OTHER' and @csip:OTHERCONTENTINFORMATIONTYPE) or (@csip:CONTENTINFORMATIONTYPE != 'OTHER' and not(@csip:CONTENTINFORMATIONTYPE))">When the `mets/fileSec/fileGrp/@csip:CONTENTINFORMATIONTYPE` attribute has the value "OTHER" the `mets/fileSec/fileGrp/@csip:OTHERCONTENTINFORMATIONTYPE` must state a value for the Content Information Type Specification used.</assert>
      <assert id="CSIP64" role="ERROR" test="@USE">This attribute is mandatory.</assert>
      <assert id="CSIP65" role="ERROR" test="@ID">This attribute is mandatory. An xml:id identifier for the file group used for internal package references. It must be unique within the package.</assert>
      <assert id="CSIP66" role="ERROR" test="mets:file">The file group contains the file elements which describe the file objects.</assert>
    </rule>
    <rule context="/mets:mets/mets:fileSec/mets:fileGrp/mets:file">
      <assert id="CSIP67" role="ERROR" test="@ID">This attribute is mandatory. An xml:id identifier for the file group used for internal package references. It must be unique within the package.</assert>
      <assert id="CSIP68" role="ERROR" test="@MIMETYPE">MUST record the MIME type of the referenced file.</assert>
      <assert id="CSIP69" role="ERROR" test="@SIZE">MUST record the size in bytes of the referenced file.</assert>
      <assert id="CSIP70" role="ERROR" test="@CREATED">MUST record the date and time the referenced file was created.</assert>
      <assert id="CSIP71" role="ERROR" test="@CHECKSUM">MUST record the checksum of the referenced file.</assert>
      <assert id="CSIP72" role="ERROR" test="@CHECKSUMTYPE">MUST record a value from the METS-standard which identifies the algorithm used to calculate the checksum for the referenced file.</assert>
      <report id="CSIP73" role="INFO" test="@OWNERID">A file element has an OWNERID attribute.</report>
      <report id="CSIP74" role="INFO" test="@ADMID">A file element has an ADMID attribute.</report>
      <report id="CSIP75" role="INFO" test="@DMDID">A file element has an DMDID attribute.</report>
      <assert id="CSIP76" role="ERROR" test="mets:FLocat">The location of each external file must be defined by the file location `FLocat` element using the same rules as references for metadata files. All references to files should be made using the XLink href attribute and the file protocol using the relative location of the file.</assert>
    </rule>
    <rule context="/mets:mets/mets:fileSec/mets:fileGrp/mets:file/mets:FLocat">
      <assert id="CSIP77" role="ERROR" test="@LOCTYPE = 'URL'">Mandatory, locator type is always used with the value “URL” from the vocabulary in the attribute.</assert>
      <assert id="CSIP78" role="ERROR" test="@xlink:type = 'simple'">Attribute MUST be used with the value “simple”. Value list is maintained by the xlink standard.</assert>
      <assert id="CSIP79" role="ERROR" test="@xlink:href">MUST record the actual location of the resource. This specification recommends recording a URL type filepath within this attribute.</assert>
    </rule>
  </pattern>
</schema>
